JWT_ACCESS_SECRET=Yy/uK5M9khjIwe95prpxmika5tEUTMaiO2Qz81eh9titdbIPSEdOoBuzRZw8oMvh+Qb4RGUE6vGEYGJDazk8+/olm1ak5hyEUWFjBql33otGrBDoIulA2SoYZ9dJd6ON+xu6dDm9lJWNV3YGLomj5ILWcrvbMcSgZC4PNculWTnhgLHRYKesM9gQmOManV6sg6RKGH2iMsbkVZAxFgI27i3mhZM4np9O7QHcCL4YLmTEICrlzk7ONNzbKVkbhrLkfIJwmE9koN+ebt8RoxGm5phH6A69dKwd74cIWEPIMXuPcFgdI3V2dROf02GZxxpguERfT/85cjJ9GZ0eWIEzjg==
JWT_REFRESH_SECRET=NGijiwgdV4XviASGMQWgbmlnCGPigQdX3r+ZfQmUwf6B6IM9guxJu1SnyytTNUxho8bmDMm2YiRFjJDZpKrmx/Qqwul5z+rgCfibeMTgnfatIEWPkCHffbpQQMF9BeO/Putvm+hLVuvt5PNF228mXwWOn9kkUrTIq1R6givhkwrg1FYx1Y1gz9LSC5F29tvZPc2D7Gpsl4GMeH0+3VCnbt566gmw3OJwcImRQNOCsRuMcjf6SUM6fJyKXo/CAZcNmvkQaEHEfoQALDJnwNhtmVfga3zmQGwXrSr0licB5cyobyb6SiibP7lvMQdUkR4mrYV6PAYK0m03f7oQcIz9jA==


NODE_ENV=DEV
APP_PORT=3030

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=intuitiveAI
POSTGRES_USER=user
POSTGRES_PASSWORD=password


DATABASE_URL="postgresql://user:password@localhost:5432/intuitiveAI?schema=public"