JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=DEV
APP_PORT=3030

FRONTEND_URL=http://localhost:5173

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=KeyCloak
POSTGRES_USER=user
POSTGRES_PASSWORD=password


DATABASE_URL="postgresql://user:password@localhost:5432/KeyCloak?schema=public"